nltk
python-docx
torch
chromadb
openai
langchain
langchain-core
langchain-openai
langchain-community
langchain_text_splitters
unstructured
unstructured[all-docs]
python-dotenv
streamlit
pypandoc-binary
